@model VacationManager.Models.AdditionalModels.CeoIndexModel;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Users settings</h1>
    <table class="indexTable">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
                <th>
                    Team
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model.UserRoles[i])
                    </td>

                    @if (Model.Teams.FirstOrDefault(t => t.Id == i.TeamId) == null)
                        {
                        <td><i>none</i></td>
                        }
                        else
                        {
                            <td>@Model.Teams.FirstOrDefault(t => t.Id == i.TeamId).Name</td>
                        }
                    <td>
                        <a asp-action="EditRole" class="indexButton yellow" asp-route-userId="@i.Id">Edit role</a>
                        <a asp-action="AddUserToTeam" class="indexButton yellow" asp-route-userId="@i.Id">Change Team</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
