@model VacationManager.Models.Vacation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <h1>Vacation details</h1>
        <table class="detailsTable">
            <tr>
                <td>Request creation date:</td>
                <td class="darker">@string.Format($"{Model.RequestCreationDate.ToString("dd/MM/yyyy")}")</td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td class="darker">@string.Format($"{Model.StartDate.ToString("dd/MM/yyyy")}")</td>
            </tr>
            <tr>
                <td>End date:</td>
                <td class="darker">@string.Format($"{Model.EndDate.ToString("dd/MM/yyyy")}")</td>
            </tr>
            <tr>
                <td>Vacation option:</td>
                <td class="darker">@Html.DisplayFor(model => model.VacationOption)</td>
            </tr>
            <tr>
                <td>Half day vacation:</td>
            <td class="darker"><input class="form-check-input  checkbox" asp-for="@Model.HalfDayVacation" disabled/></td>

            </tr>
            <tr>
                <td>Approved:</td>
            <td class="darker"><input class="form-check-input  checkbox" asp-for="@Model.Approved" disabled/></td>
            </tr>
            <tr>
                <td>File:</td>
                <td class="darker"></td>
            </tr>
        </table>

    <div class="detailsDiv">
        <img src="~/Images/Vacations/@Model.FilePath" />
    </div>
    <div class="detailsDiv">
        <a asp-action="Edit" class="indexButton yellow" asp-route-id="@Model?.Id">Edit</a>
        <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
