@model VacationManager.Models.Vacation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h1>CEO</h1>
    <h4>Vacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
                @string.Format($"{Model.StartDate.ToString("dd/MM/yyyy")}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
                @string.Format($"{Model.EndDate.ToString("dd/MM/yyyy")}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestCreationDate)
        </dt>
        <dd class = "col-sm-10">
                @string.Format($"{Model.RequestCreationDate.ToString("dd/MM/yyyy")}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HalfDayVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HalfDayVacation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
                <img src="~/Images/Vacations/@Model.FilePath" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCeo" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="IndexCeo">Back to List</a>
</div>
</body>
</html>
