@model VacationManager.Models.Vacation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
        <h1>Vacation details of user</h1>
        <table class="detailsTable">
            <tr>
                <td>Username:</td>
                <td class="darker">@Html.DisplayFor(model => model.ApplicationUser.UserName)</td>
            </tr>
            <tr>
                <td>Request creation date:</td>
                <td class="darker">@string.Format($"{Model.RequestCreationDate.ToString("dd/MM/yyyy")}")</td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td class="darker">@string.Format($"{Model.StartDate.ToString("dd/MM/yyyy")}")</td>
            </tr>
            <tr>
                <td>End date:</td>
                <td class="darker">@string.Format($"{Model.EndDate.ToString("dd/MM/yyyy")}")</td>
            </tr>
            <tr>
                <td>Vacation option:</td>
                <td class="darker">@Html.DisplayFor(model => model.VacationOption)</td>
            </tr>
            <tr>
                <td>Half day vacation:</td>
                <td class="darker">@Html.DisplayFor(model => model.HalfDayVacation)</td>
            </tr>
            <tr>
                <td>Approved:</td>
                <td class="darker">@Html.DisplayFor(model => model.Approved)</td>
            </tr>
            <tr>
                <td>File:</td>
                <td class="darker"></td>
            </tr>
        </table>


        <div class="detailsDiv">
            <img src="~/Images/Vacations/@Model.FilePath" />
            <a asp-action="EditCeo" class="indexButton yellow" asp-route-id="@Model?.Id">Edit</a>
            <a asp-action="IndexCeo">Back to List</a>
        </div>
    
</body>
</html>
