@model VacationManager.Models.AdditionalModels.CeoEditUserVacationModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<h1>Approve vacation</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCeo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <table id="vacationInfo">
                    <tr>
                        <td>Username:</td>
                        <td>@Html.DisplayFor(model => model.ApplicationUserName)</td>
                    </tr>
                    <tr>
                        <td>Start date:</td>
                        <td>@string.Format($"{Model.StartDate.ToString("dd/MM/yyyy")}")</td>
                    </tr>
                    <tr>
                        <td>End date:</td>
                        <td>@string.Format($"{Model.EndDate.ToString("dd/MM/yyyy")}")</td>
                    </tr>
                    <tr>
                        
                        <td>Request creation date:</td>
                        <td>
                            @string.Format($"{Model.RequestCreationDate.ToString("dd/MM/yyyy")}")
                        </td>
                    </tr>
                    <tr>
                        <td>Half day vacation:</td>
                        <td>
                            <div class="form-group form-check">
                                <input class="form-check-input checkbox" asp-for="HalfDayVacation" disabled />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Vacation option:</td>
                        <td>@Html.DisplayFor(model => model.VacationOption)</td>
                    </tr>
                    <tr>
                        <td><strong style="color:red;">*</strong>Approved:</td>
                        <td>
                            <div class="form-group form-check">
                                <input class="form-check-input checkbox" asp-for="Approved" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>File:</td>
                        <td></td>
                    </tr>
                </table>

        <img src="~/Images/Vacations/@Model.FilePath" />
        
            <div class="second-form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="IndexCeo">Back to List</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
