@model IEnumerable<VacationManager.Models.Vacation>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="h1Button">
        <a asp-action="Create" class="btn">Create New</a>
        <h1>Your vacations</h1>
    </div>
<table class="indexTable">
    <thead>
        <tr>
                <th>
                    Request creation date
                </th>
            <th>
                Start date
            </th>
            <th>
                End date
            </th>
            
                <th>
                    Vacation option
                </th>
            <th>
                Half day vacation
            </th>
            <th>
                Approved
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        @string.Format($"{item.RequestCreationDate.ToString("dd/MM/yyyy")}")
                    </td>
            <td>
                @string.Format($"{item.StartDate.ToString("dd/MM/yyyy")}")
            </td>
            <td>
                        @string.Format($"{item.EndDate.ToString("dd/MM/yyyy")}")
            </td>
            
                    <td>
                        @Html.DisplayFor(modelItem => item.VacationOption)
                    </td>
            <td>
                        <input class="form-check-input checkbox" asp-for="@item.HalfDayVacation" disabled />
            </td>
            <td>
                        <input class="form-check-input checkbox" asp-for="@item.Approved" disabled/>
            </td>
            
            <td>
                <a asp-action="Edit" class="indexButton blue" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class="indexButton purple" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" class="indexButton pink" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
