@model IEnumerable<VacationManager.Models.Vacation>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Vacations of the workers</h1>
    <table class="indexTable">
    <thead>
        <tr>
            <th>
                Worker username
            </th>
            <th>
                    Request creation date
                </th>
            
            
                <th>
                    Vacation option
                </th>
            <th>
                Half day vacation
            </th>
            <th>
                Approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
                    <td>
                        @string.Format($"{item.RequestCreationDate.ToString("dd/MM/yyyy")}")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.VacationOption)
                    </td>
                    <td>
                        <input class="form-check-input checkbox" asp-for="@item.HalfDayVacation" disabled />
                    </td>
                    <td>
                        <input class="form-check-input checkbox" asp-for="@item.Approved" disabled />
                    </td>
            <td>
                        <a asp-action="EditCeo" class="indexButton blue" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="DetailsCeo" class="indexButton purple" asp-route-id="@item.Id">Details</a>
                    </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
