@model VacationManager.Models.AdditionalModels.HomePageModel;


    @if (User.IsInRole("CEO"))
    {<div id="buttons">
        <a asp-controller="Ceo" asp-action="Index" class="btn">User settings</a>
        <a asp-controller="Teams" asp-action="Index" class="btn">Teams information</a>
        <a asp-controller="Projects" asp-action="Index" class="btn">Projects information</a>
        <a asp-controller="Vacations" asp-action="IndexCeo" class="btn">Vacations information</a>
    </div>
            
    }

    <table id="userInfo">
    <tr>
        <td>Username:</td>
        <td class="darker">@Model.Username</td>
    </tr>
    <tr>
        <td>First name:</td>
        <td class="darker">@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td class="darker">@Model.LastName</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td class ="darker">@Model.Email</td>
    </tr>
    <tr>
        <td>Role:</td>
        <td class="darker">@Model.Role</td>
    </tr>
    <tr>
        <td>Team:</td>
        <td class="darker">@Model.Team</td>
    </tr>
    <tr>
        <td>Project:</td>
        <td class="darker">@Model.Project</td>
    </tr>
    </table>

<div id="buttons">
    <a asp-action="EditUser" class="btn">Edit Profile</a>
    <a asp-controller="Vacations" asp-action="Index" class="btn">Edit your vacations</a>
</div>

