@model IEnumerable<VacationManager.Models.Project>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="h1Button">
        <a asp-action="Create" class="btn">Create New</a>
        <h1>List of projects</h1>
    </div>
    <table class="indexTable" id="indexProjectsTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td >
                        <div class ="indexProjectDescription">
                            @Html.DisplayFor(modelItem => item.Description)
                </div>
                
            </td>
            <td>
                        <a asp-action="Edit" class="indexButton blue" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" class="indexButton purple" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="indexButton pink" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
